<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Communist Intersection</title>
    <meta name="description" content="Anti-Imperialist, Communist friendly content aggregator">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Stylesheets imported here -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/helpers.css">

    <!-- Third Party Styleheets imported here -->
    <link rel="stylesheet" href="/third-party/fontawesome-6.2.1/css/fontawesome.css">
    <link rel="stylesheet" href="/third-party/fontawesome-6.2.1/css/solid.css">

    <!-- Opentip for Tooltips -->
    <link rel="stylesheet" href="/css/opentip.css">
</head>
<body>
    <h1>Communist Intersection</h1>
    <% if (publishers.length) { %>     
        <div class="publisher-cards">
            <!-- publisher Cards here -->
            <% publishers.forEach((publisher) => { %>
                <div class="publisher-card">
                    <div class="publisher-card-inner">
                        <div class="publisher-card-information">
                            <h3 class="publisher-card-title">
                                <%-publisher.options.title%>
                            </h3>
                            <a 
                                aria-label="Visit <%=publisher.options.title%>'s website"
                                href="https://<%=publisher.options.link%>"
                                target="_blank"
                            >
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>                        
                        </div>
                        <!-- <p class="publisher-card-description"><%-publisher.options.description%></p>  -->
                        <% if (publisher.articles.length) { %>
                            <ul class="publisher-articles" aria-label="Articles from <%=publisher.options.title%>">
                            <% publisher.articles.forEach((article)=> { %>
                                <%  var tooltip_html = "<p>" + article.title + "</p><small><p>" + article.get_date() + "</p></small>" %>
                                <li
                                    data-ot="<%=tooltip_html%>"
                                    data-ot-style="ComIntersectionStyle"
                                    class="publisher-article"
                                >
                                        <a 
                                            aria-label="<%=article.title%>"
                                            class="publisher-article-link"
                                            href="<%=article.link%>" 
                                            target="_blank"
                                        >
                                            <article><%-article.title%></article>
                                        </a>
                                </li>
                                <% }) %>
                            </ul>
                        <% } %>
                    </div>
                </div>
            <% }) %>
            <!-- End Feed Cards-->
        </div>
    <% } %>
    <script src="/js/opentip/opentip-2.4.6.js"></script>
    <script src="/js/opentip/comintersection_opentip_config.js"></script>
</body>
<footer>
    <p>This is an open source website. You can visit <a target="_blank" href="https://github.com/Gnutrients/Com-Intersection/issues">this link</a> to work on it or suggest new feeds</p>
</footer>
</html>