<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Communist Intersection</title>
    <meta name="description" content="Anti-Imperialist, Communist friendly content aggregator">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Stylesheets imported here -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/helpers.css">

    <!-- Third Party Styleheets imported here -->
    <link rel="stylesheet" href="/third-party/fontawesome-6.2.1/css/fontawesome.css">
    <link rel="stylesheet" href="/third-party/fontawesome-6.2.1/css/solid.css">
</head>
<body>
    <h1>Communist Intersection</h1>
    <% if (publishers.length) { %>     
        <div class="publisher-cards">
            <!-- publisher Cards here -->
            <% publishers.forEach((publisher) => { %>
                <div class="publisher-card">
                    <div class="publisher-card-inner">
                        <div class="publisher-card-information">
                            <h3 class="publisher-card-title">
                                <%-publisher.options.title%>
                            </h3>
                            <a 
                                aria-label="Visit <%=publisher.options.title%>'s website"
                                href="https://<%=publisher.options.link%>"
                                target="_blank"
                            >
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>                        
                        </div>
                        <!-- <p class="publisher-card-description"><%-publisher.options.description%></p>  -->
                        <% if (publisher.articles.length) { %>
                            <div class="publisher-articles">
                            <% publisher.articles.forEach((article)=> { %>
                                <article class="publisher-article" aria-label="<%=article.title%>">
                                    <a 
                                        aria-label="Read article on <%=publisher.options.title%>'s website"
                                        class="publisher-article-link" 
                                        href="<%=article.link%>"
                                        target="_blank"
                                    >
                                        <%=article.title%>
                                    </a>
                                    <div class="publisher-article-text">
                                        <!-- <div class="publisher-article-teaser-text"><%-article.teaser_text%><span class="teaser-text-ellipsis">...</span></div> -->
                                        <!-- <div class="publisher-article-body hidden"><%-article.body%></div> -->
                                    </div>
                                </article>
                                <% }) %>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% }) %>
            <!-- End Feed Cards-->
        </div>
    <% } %>
</body>
<footer>
    <p>This is an open source website. You can visit <a target="_blank" href="https://github.com/Spraynard/communist-content-aggregator">this link</a> to work on it or suggest new feeds</p>
</footer>
</html>